* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #000;
    overflow: hidden;
}

#particles-background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -1;
}

.material-symbols-outlined {
    color: cyan;
    cursor: pointer;
    float: right;
    margin-top: 1rem;
    margin-right: 2rem;
    font-size: 30px;
    z-index: 2;
}

.moon-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    z-index: 2;
}

.moon {
    background: #fff;
    height: 400px;
    width: 400px;
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 50px 10px rgba(0,255,255,1);
    -moz-box-shadow: 0px 0px 50px 10px rgba(0,255,255,1);
    box-shadow: 0px 0px 50px 10px rgba(0,255,255,1);
}

.craters {
    background: #7E99A3;
    border-radius: 50%;
    position: relative;
    -webkit-box-shadow: 0px 0px 50px 10px rgba(0,255,255,1);
    -moz-box-shadow: 0px 0px 50px 10px rgba(0,255,255,1);
    box-shadow: 0px 0px 50px 10px rgba(0,255,255,1);
}

.crater-1 {
    width: 125px;
    height: 125px;
    top: 35px;
    left: 200px;
}

.crater-2 {
    width: 75px;
    height: 75px;
    top: 25px;
    left: 15px;
}

.crater-3 {
    width: 50px;
    height: 50px;
    top: 115px;
    left: 80px;
}

.crater-4 {
    width: 25px;
    height: 25px;
    top: 75px;
    left: 300px;
}

.crater-5 {
    width: 35px;
    height: 35px;
    left: 350px;
    top: -50px;
}

.crater-6 {
    width: 75px;
    height: 75px;
    top: -100px;
    left: 200px;
}

.sun-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    z-index: 2;
}

.sun {
    background: #F9CB43;
    width: 800px;
    height: 800px;
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 100px 50px #FBA518;
    -moz-box-shadow: 0px 0px 100px 50px #FBA518;
    box-shadow: 0px 0px 100px 50px #FBA518;
    display: none;
}

/* responsivity of the moon */

@media only screen and (max-width: 450px),
only screen and (max-height: 450px) {

    .moon {
        width: 300px;
        height: 300px;
    }

    .crater-1 {
        width: 100px;
        height: 100px;
        top: 50px;
        left: 175px;
    }

    .crater-2 {
        width: 50px;
        height: 50px;
    }

    .crater-3 {
        width: 25px;
        height: 25px;
        top: 100px;
    }

    .crater-4 {
        width: 12.5px;
        height: 12.5px;
        top: 90px;
        left: 200px;
    }

    .crater-5 {
        width: 22.5px;
        height: 22.5px;
        left: 250px;
        top: -25px;
    }

    .crater-6 {
        width: 60px;
        height: 60px;
        top: -50px;
        left: 125px;
    }

}

@media only screen and (max-width: 350px),
only screen and (max-height: 350px) {

    .moon {
        width: 200px;
        height: 200px;
    }

    .craters {
        display: none;
    }

}

/* responsivity of the sun */

@media only screen and (max-width: 900px),
only screen and (max-height: 860px) {

    .sun {
        width: 600px;
        height: 600px;
    }

}

@media only screen and (max-width: 700px),
only screen and (max-height: 700px) {

    .sun {
        width: 400px;
        height: 400px;
    }

}

@media only screen and (max-width: 500px),
only screen and (max-height: 500px) {

    .sun {
        width: 350px;
        height: 350px;
    }

}

@media only screen and (max-width: 450px),
only screen and (max-height: 450px) {

    .sun {
        width: 300px;
        height: 300px;
    }

}